<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ajaggi.pomodoro</string>    
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/python3</string>
    <string>/Users/ajaggi/projects/personal/snippets/snippets/pomodoro/src/pomodoro.py</string>
  </array>    
  <key>RunAtLoad</key>
  <true/>    
  <key>StandardErrorPath</key>
  <string>/tmp/com.ajaggi.pomodoro.err</string>    
  <key>StandardOutPath</key>
  <string>/tmp/com.ajaggi.pomodoro.out</string>
  <key>WorkingDirectory</key>
  <string>/Users/ajaggi/projects/personal/snippets/snippets/pomodoro/src</string>
</dict>
</plist>